In [84]:
import pandas as pd

In [85]:
stats = pd.read_csv("player_mvp_stats.csv", index_col=0)
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15231,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15232,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15233,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15234,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
15235,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [86]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          61
3P            0
3PA           0
3P%        2102
2P            0
2PA           0
2P%         105
eFG%         61
FT            0
FTA           0
FT%         545
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [87]:
stats[pd.isnull(stats['FT%'])][['Player', 'FTA']]

                Player  FTA
77          John Coker  0.0
92        Jason Sasser  0.0
103    Adrian Caldwell  0.0
119       Bruno Šundov  0.0
158     Jamal Robinson  0.0
...                ...  ...
15115     Trevor Keels  0.0
15123      Luke Zeller  0.0
15176      Myron Brown  0.0
15198      Malcolm Lee  0.0
15232      Steve Novak  0.0

[545 rows x 2 columns]

In [88]:
stats = stats.fillna(0)
# pd.isnull(stats).sum()

In [89]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [90]:
predictors = ['Age', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'W', 'L', 'W/L%', 'GB', 'PS/G', 'PA/G', 'SRS']

In [91]:
train = stats[stats["Year"] < 2023]
test = stats[stats['Year'] == 2023]

In [92]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha=.1)

In [93]:
reg.fit(train[predictors],train["Share"])

Ridge(alpha=0.1)

In [94]:
predictions = reg.predict(test[predictors])
predictions = pd.DataFrame(predictions, columns = ["predictions"], index=test.index)
predictions

       predictions
211       0.002566
212       0.032038
213       0.041656
214       0.225130
215      -0.001949
...            ...
15111    -0.014597
15112     0.004125
15113    -0.015199
15114     0.018389
15115     0.011345

[539 rows x 1 columns]

In [95]:
combination = pd.concat([test[['Player', 'Share']], predictions], axis=1)
combination

                      Player  Share  predictions
211               A.J. Green  0.000     0.002566
212             Bobby Portis  0.000     0.032038
213              Brook Lopez  0.000     0.041656
214    Giannis Antetokounmpo  0.606     0.225130
215             Goran Dragić  0.000    -0.001949
...                      ...    ...          ...
15111      Mitchell Robinson  0.000    -0.014597
15112             Obi Toppin  0.000     0.004125
15113         Quentin Grimes  0.000    -0.015199
15114             RJ Barrett  0.000     0.018389
15115           Trevor Keels  0.000     0.011345

[539 rows x 3 columns]

In [96]:
combination.sort_values("Share", ascending=False).head(10)

                        Player  Share  predictions
14849              Joel Embiid  0.915     0.201829
736               Nikola Jokić  0.674     0.173426
214      Giannis Antetokounmpo  0.606     0.225130
2898              Jayson Tatum  0.280     0.137573
1322   Shai Gilgeous-Alexander  0.046     0.148548
13682         Donovan Mitchell  0.030     0.086236
4274          Domantas Sabonis  0.027     0.092882
306                Luka Dončić  0.010     0.195437
6686             Stephen Curry  0.005     0.106767
10869             Jimmy Butler  0.003     0.109476

In [97]:
combination.sort_values("predictions", ascending=False).head(10)

                        Player  Share  predictions
214      Giannis Antetokounmpo  0.606     0.225130
14849              Joel Embiid  0.915     0.201829
306                Luka Dončić  0.010     0.195437
736               Nikola Jokić  0.674     0.173426
1322   Shai Gilgeous-Alexander  0.046     0.148548
11528             Kevin Durant  0.000     0.141083
8563             Anthony Davis  0.000     0.140287
2898              Jayson Tatum  0.280     0.137573
8083            Damian Lillard  0.000     0.136843
8570              LeBron James  0.000     0.133830

In [98]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination["predictions"])

0.0026624350400880946

In [99]:
combination["Share"].value_counts()

Share
0.000    526
0.001      2
0.606      1
0.010      1
0.674      1
0.046      1
0.280      1
0.002      1
0.027      1
0.005      1
0.003      1
0.030      1
0.915      1
Name: count, dtype: int64

In [100]:
combination = combination.sort_values("Share", ascending=False)
combination['Rk'] = list(range(1, combination.shape[0]+1))
combination.head(10)

                        Player  Share  predictions  Rk
14849              Joel Embiid  0.915     0.201829   1
736               Nikola Jokić  0.674     0.173426   2
214      Giannis Antetokounmpo  0.606     0.225130   3
2898              Jayson Tatum  0.280     0.137573   4
1322   Shai Gilgeous-Alexander  0.046     0.148548   5
13682         Donovan Mitchell  0.030     0.086236   6
4274          Domantas Sabonis  0.027     0.092882   7
306                Luka Dončić  0.010     0.195437   8
6686             Stephen Curry  0.005     0.106767   9
10869             Jimmy Butler  0.003     0.109476  10

In [101]:
combination = combination.sort_values("predictions", ascending=False)
combination['Predicted_Rk'] = list(range(1, combination.shape[0]+1))
combination.head(10)

                        Player  Share  predictions   Rk  Predicted_Rk
214      Giannis Antetokounmpo  0.606     0.225130    3             1
14849              Joel Embiid  0.915     0.201829    1             2
306                Luka Dončić  0.010     0.195437    8             3
736               Nikola Jokić  0.674     0.173426    2             4
1322   Shai Gilgeous-Alexander  0.046     0.148548    5             5
11528             Kevin Durant  0.000     0.141083   50             6
8563             Anthony Davis  0.000     0.140287  139             7
2898              Jayson Tatum  0.280     0.137573    4             8
8083            Damian Lillard  0.000     0.136843   90             9
8570              LeBron James  0.000     0.133830  132            10

In [102]:
combination.sort_values("Share", ascending=False).head(10)

                        Player  Share  predictions  Rk  Predicted_Rk
14849              Joel Embiid  0.915     0.201829   1             2
736               Nikola Jokić  0.674     0.173426   2             4
214      Giannis Antetokounmpo  0.606     0.225130   3             1
2898              Jayson Tatum  0.280     0.137573   4             8
1322   Shai Gilgeous-Alexander  0.046     0.148548   5             5
13682         Donovan Mitchell  0.030     0.086236   6            23
4274          Domantas Sabonis  0.027     0.092882   7            18
306                Luka Dončić  0.010     0.195437   8             3
6686             Stephen Curry  0.005     0.106767   9            14
10869             Jimmy Butler  0.003     0.109476  10            13

In [103]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending=False)
    ps = []
    found = 0
    seen = 1

    for index, row in predicted.iterrows():
        if row['Player'] in actual['Player'].values:
            found += 1
            ps.append(found/seen)
        seen += 1
    return sum(ps) /len(ps)

In [104]:
find_ap(combination)

0.835

In [105]:
years = list(range(1991, 2024))

In [106]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train['Share'])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[['Player', 'Share']], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [107]:
sum(aps) / len(aps)

0.7195472452665953

In [108]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending=False)
    combination['Rk'] = list(range(1, combination.shape[0]+1))
    combination = combination.sort_values("predictions", ascending=False)
    combination['Predicted_Rk'] = list(range(1, combination.shape[0]+1))
    combination['Diff'] = combination["Rk"] - combination["Predicted_Rk"]
    return combination

In [109]:
ranking = add_ranks(all_predictions[1])
ranking[ranking.Rk < 6].sort_values("Diff", ascending=False)

               Player  Share  predictions  Rk  Predicted_Rk  Diff
1817      Karl Malone  0.857     0.192318   1             2    -1
11360  Michael Jordan  0.832     0.167629   2             3    -1
1043       Grant Hill  0.327     0.128646   3             6    -3
5151     Tim Hardaway  0.207     0.059984   4            20   -16
9009        Glen Rice  0.117     0.033110   5            53   -48

In [144]:
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    # for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    model.fit(train[predictors], train['Share'])
    predictions = model.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[['Player', 'Share']], predictions], axis=1)
    combination = add_ranks(combination)
    all_predictions.append(combination)
    aps.append(find_ap(combination))
    
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [111]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)
mean_ap

0.7195472452665953

In [112]:
all_predictions[all_predictions.Rk < 6].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
1441         Jason Kidd  0.712     0.028210   2            52   -50
9009          Glen Rice  0.117     0.033110   5            53   -48
5674         Steve Nash  0.839     0.034100   1            45   -44
9277    Peja Stojaković  0.228     0.036270   4            38   -34
5692         Steve Nash  0.739     0.054129   1            34   -33
13800       Joakim Noah  0.258     0.046968   4            37   -33
4010   Chauncey Billups  0.344     0.052696   5            35   -30
1606         Chris Paul  0.138     0.072293   5            33   -28
5707         Steve Nash  0.785     0.074421   2            21   -19
5151       Tim Hardaway  0.207     0.059984   4            20   -16

could check individual stats and see what stats differ from eg. Jason Kidd and top 5 MVP ranked players

In [113]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.104300  eFG%
18  0.033422   DRB
29  0.028124  W/L%
17  0.020394   ORB
10  0.017390    2P
21  0.012038   STL
22  0.010571   BLK
15  0.010230   FTA
12  0.008651   2P%
20  0.006953   AST
25  0.006779   PTS
5   0.005045   FGA
4   0.001968    FG
7   0.000618    3P
0   0.000263   Age
30  0.000244    GB
27  0.000120     W
1   0.000087     G
2   0.000001    GS
32 -0.000035  PA/G
26 -0.000192  Year
28 -0.000279     L
33 -0.000443   SRS
31 -0.000725  PS/G
24 -0.002562    PF
3  -0.003972    MP
16 -0.005353   FT%
14 -0.005730    FT
23 -0.009142   TOV
9  -0.009333   3P%
8  -0.009429   3PA
11 -0.016501   2PA
19 -0.026067   TRB
6  -0.171971   FG%

Highest coefficient, elements more important for regression

In [114]:
# new_stats = stats[stats.Year < 2022]
# new_stats

In [115]:
stat_ratios = stats[['PTS', "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())
stat_ratios.index = stat_ratios.index.droplevel()
stat_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.013334  0.420714  0.961127  0.673469  0.508587   1.0
1      1.614653  1.028412  1.647646  0.673469  4.577279   1.0
2      0.311795  0.093492  0.274608  1.571429  0.000000   1.0
3      0.200440  0.186984  0.274608  0.000000  0.000000   1.0
4      2.383005  1.636110  1.784950  0.897959  1.525760   1.0
...         ...       ...       ...       ...       ...   ...
15111  0.811285  0.435028  1.476263  4.707424  0.000000   1.0
15112  0.811285  0.483365  0.492088  0.523047  1.312418   1.0
15113  1.238854  1.015066  1.148205  1.046094  2.221015   1.0
15114  2.148808  1.353421  0.656117  0.523047  1.716239   1.0
15115  0.109633  0.000000  0.000000  0.000000  0.302866   1.0

[15236 rows x 6 columns]

In [116]:
stats[["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[['PTS', "AST", "STL", "BLK", "3P"]]
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_T,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.707,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.707,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.707,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.707,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.707,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760

In [117]:
predictors += ["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [118]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)
mean_ap

0.7277941934406373

In [119]:
stats.Pos.unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SG-PG-SF',
       'SF-C'], dtype=object)

In [120]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes
stats["NTm"] = stats["Tm"].astype("category").cat.codes
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,PS/G,PA/G,SRS,PTS_T,AST_R,STL_R,BLK_R,3P_R,NPos,NTm
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587,2,15
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279,12,15
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000,2,15
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000,2,15
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760,8,15

In [127]:
mean_ap, aps, all_predictions = backtest(stats, reg, years, predictors)
mean_ap

0.7277941934406373

In [141]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

mean_ap, aps, all_predictions = backtest(stats, rf, years, predictors)
mean_ap

0.7260091112041632

In [145]:
mean_ap, aps, all_predictions = backtest(stats, rf, 2023, predictors)
mean_ap

0.8333333333333333

In [146]:
all_predictions.head(10)

                        Player  Share  predictions   Rk  Predicted_Rk  Diff
214      Giannis Antetokounmpo  0.606     0.689368    3             1     2
2898              Jayson Tatum  0.280     0.605921    4             2     2
14849              Joel Embiid  0.915     0.528665    1             3    -2
306                Luka Dončić  0.010     0.257464    8             4     4
2897              Jaylen Brown  0.000     0.227044  316             5   311
1322   Shai Gilgeous-Alexander  0.046     0.195894    5             6    -1
11528             Kevin Durant  0.000     0.190526   50             7    43
13682         Donovan Mitchell  0.030     0.170701    6             8    -2
12799          Zion Williamson  0.000     0.165188  212             9   203
736               Nikola Jokić  0.674     0.162275    2            10    -8

In [ ]:
all_predictions.head(10)

                        Player  Share  predictions   Rk  Predicted_Rk  Diff
214      Giannis Antetokounmpo  0.606     0.199937    3             1     2
306                Luka Dončić  0.010     0.170522    8             2     6
14849              Joel Embiid  0.915     0.166322    1             3    -2
736               Nikola Jokić  0.674     0.147829    2             4    -2
8083            Damian Lillard  0.000     0.118227   90             5    85
2898              Jayson Tatum  0.280     0.117603    4             6    -2
1322   Shai Gilgeous-Alexander  0.046     0.115585    5             7    -2
8570              LeBron James  0.000     0.113940  132             8   124
11528             Kevin Durant  0.000     0.113458   50             9    41
8563             Anthony Davis  0.000     0.108525  139            10   129